/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON START*/
body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    display: block;
}

.muted {
    color: rgb(163, 163, 163);
    font-size: 12px;
    font-weight: 500;
}

.container {
    width: 75%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {
    width: 300px;
    height: 620px;
    margin: 50px auto;
    padding: 60px 0 30px;
    border: 1px solid white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-content {
    width: 120%;
    height: 120%;
    opacity: 0;
    position: relative;
    overflow: hidden;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    color: white;
    text-decoration: none;
    padding: 5px 0 6px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid white;
    background-color: black;
    text-transform: uppercase;
    font-weight: bold;
}
/*COMMON END */

/*SPINNER LOADER START */
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
}

.spinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 8px;
    border: 4px solid transparent;
    border-radius: 50%;
}

.spinner .cover {
    width: 33px;
    height: 33px;
    border-width: 9px;
    border-top-color: white;
    border-left-color: white;
    z-index: 1;
}

.spinner .top,
.spinner .bottom {
    border-top-color: black;
    border-left-color: white;
}

.checkmark:after {
    display: none;
    opacity: 1;
    transform-origin: left top;
    border-right: 4px solid black;
    border-top: 4px solid black;
    content: '';
    left: 5px;
    top: 6px;
    position: absolute;
    transform: scaleX(-1) rotate(90deg);
}
/*SPINNER LOADER END */

/* PHONE ONE START */
.one .phone-content {
    opacity: 0;
    padding: 30px 0 10px;
}

.total-balance {
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-bottom: 55px;
}

.amount {
    height: 36px;
    overflow: hidden;
    font-size: 30px;
    margin: 10px 0 25px;
    position: relative;
}

.amounts {
    position: absolute;
    top: -72px;
    left: 0;
}

.flag-container {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.flag-container img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.currency span {
    font-size: 12px;
    margin: 3px 0;
}

.balance-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.plus {
    background-color: rgb(150, 150, 150);
    color: black;
    font-weight: 600;
    text-align: center;
    font-size: 22px;
    line-height: 23px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
}


.balances-list {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.balance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.balance img {
    width: 45px;
    border-radius: 3px;
}

.balance-info {
    flex-grow: 1;
    margin-left: 10px;
}

.balance-blocks {
    position: absolute;
    width: 100%;
    top: -147px;
    left: 0;
}

.displayed {
    position: absolute;
    width: 100%;
    top: 148px;
    left: 0;
}

.balance-blocks .naira,
.balance-blocks .usd {
    position: absolute;
    width: 100%;
    top: 148px;
    left: 0;
    transform: scale(0.9);
    opacity: 0;
}

.gradient-fader {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(180deg,transparent,#000);
}

/* PHONE ONE ENDING */

/*PHONE TWO START */
.two p.muted{
    text-transform: uppercase;
}

.two .quantity {
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.quantity .value {
    font-size: 13px;
}

.value img{
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}

.two .change {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vertical-loading {
    width: 10px;
    height: 45px;
    margin-left: 10px;
    overflow: hidden;
    position: relative;
}

.loading  {
    width: 100%;
    position: absolute;
    bottom: 0;
    animation: scroll 1.7s infinite linear;
}

@keyframes scroll {
    0% {
        bottom: 0;
    }
    100% {
        bottom: -45px;
    }
}

.loading .circle {
    width: 5px;
    height: 5px;
    margin: 6px;
    border-radius: 50%;
    background-color: white;
}

.success-screen {
    background: rgb(56,54,118);
    background: radial-gradient(circle, rgba(56,54,118,1) 20%, rgba(44,42,97,1) 51%);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.two .centered p {
    font-size: 15px;
}

.success-screen .bottom-text {
    position: absolute;
    bottom: 15px;
}

.two .spinner .top,
.two .spinner .bottom{
    border-top-color: white;
    border-left-color: white;
}

.two .spinner div {
    box-sizing: border-box;
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 8px;
    border: 4px solid transparent;
    border-radius: 50%;
}

.two .success-screen .spinner .cover {
    border-top-color: rgba(56,54,118,1);
    border-left-color: rgba(56,54,118,1);
    width: 54px;
    height: 54px;
    border-width: 12px;
}

.two .checkmark:after {
    border-right: 4px solid white;
    border-top: 4px solid white;
    content: '';
    left: 10px;
    top: 12px;
}
/*PHONE TWO END */

/*PHONE THREE START */
.phone p {
    padding: 5px 0 15px;
    font-size: 12px;
    margin-top: 15px;
    line-height: 22px;
}

.img-header {
    width: 80%;
}

.unlock {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 220px;
    background-color: black;
    box-shadow: -5px -50px 30px 25px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.unlock p {
    font-size: 16px;
}

.prices {
    border: 1px solid white;
    border-radius: 5px;
    padding: 0 20px;
    opacity: 0;
    margin-bottom: 20px;
    transform: scale(0.9);
}

.prices p {
    font-size: 17px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
/*PHONE THREE END */
